@use '@/shared/assets/scss/consts/pallete/background-colors.scss' as *;
@use '@/shared/assets/scss/consts/pallete/font-colors.scss' as *;

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  padding: 0 72px;

  color: map-get($fontColors, primary);

  background-color: map-get($backgroundColors, primary);
}